NODE_ENV=production
PORT=3010
APP_NAME=Bento Resort
SESSION_SECRET=change_me_in_cloud_secret
PGHOST=db
PGPORT=5432
PGUSER=bento
PGPASSWORD=bento_dev_password
PGDATABASE=abc_resort1
PGSCHEMA=abc_resort1
