<% if (notice?.success) { %>
  <section class="flash flash--success"><%= notice.success %></section>
<% } %>
<% if (notice?.error) { %>
  <section class="flash flash--error"><%= notice.error %></section>
<% } %>
